<p class="page-header">404 Page</p>
<p class="page-subheader"><%= headerTitle %></p>
<p class="page-subheader"><%= message %></p>
<div class="notfound-container">
  <img src="/images/hero/notfound.svg" alt="not found" width="400" />
</div>
