<% if (locals.pageType === "category") { %>
<div>
  <% dataArray.forEach(item => { %>
    <div>
      <a href="/shop/<%= item.slug %>">
        <%= item.name %>
      </a>
    </div>
  <% }) %>
</div>
<% } %>
