<footer class="footer">
  <div class="footer-container">
    <div class="footer-section about">
      <a href="/"
        ><img
          src="/images/logo/logo.svg"
          alt="Restaurant Logo"
          class="footer-logo"
      /></a>

      <p>
        Experience the finest organic and delicious meals from farm to table.
      </p>
    </div>
    <div class="footer-section contact">
      <h3>Contact Us</h3>
      <p>Stockholm City, Sweden</p>
      <p>(123) 456-7890</p>
      <p>Sukhumvit 39, Bangkok, Thailand</p>
      <p>(123) 456-7890</p>
      <p>
        <a href="mailto:info@restaurant.com">info@thecrispykale.com</a>
      </p>
    </div>
    <div class="footer-section hours">
      <h3>Business Hours</h3>
      <p>Monday - Friday: 8 AM - 10 PM</p>
      <p>Saturday - Sunday: 9 AM - 11 PM</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 The Crispy Kale | May Sunktong</p>
  </div>
</footer>
