<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-png" href="/images/icons/kale.png" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles/globals.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/mainMenu.css" />
  <link rel="stylesheet" href="/styles/mobileMenu.css" />
  <link rel="stylesheet" href="/styles/contentView.css" />
  <link rel="stylesheet" href="/styles/cart.css" />
  <link rel="stylesheet" href="/styles/locations.css" />
  <link rel="stylesheet" href="/styles/footer.css" />
</head>
