<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles/globals.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/mainMenu.css" />
  <link rel="stylesheet" href="/styles/contentView.css" />
  <link rel="stylesheet" href="/styles/itemCard.css" />
  <link rel="stylesheet" href="/styles/footer.css" />
</head>
