<% if (locals.pageType === "category") { %>
  <header>
    <h2><%= headerTitle %></h2>
  </header>
<% } else if (locals.pageType === "product") { %>
  <header>
    <h2><%= dataArray.name %></h2>
  </header>
<% } %>
