<% if (locals.pageType === "shop" || locals.pageType === "category" ||
locals.pageType === "product") { %>
<nav class="navbar-container">
  <ul class="navbar shop">
    <li>
      <a href="/">
        <img src="/images/logo/logo.svg" alt="logo" width="120" />
      </a>
    </li>
    <div class="navbar-items">
      <li>
        <a href="/shop/">Our Products</a>
      </li>
      <li>
        <a href="/shop/salads">Salad Bowls</a>
      </li>
      <li>
        <a href="/shop/soups">Soups</a>
      </li>
      <li>
        <a href="/shop/desserts">Desserts</a>
      </li>
      <li>
        <a href="/shop/beverages">Beverages</a>
      </li>
    </div>
  </ul>
</nav>
<nav class="navbar-mobile top-container">
  <ul class="navbar-mobile-top">
    <li>
      <a href="/shop/salads">Salads</a>
    </li>
    <li>
      <a href="/shop/soups">Soups</a>
    </li>
    <li>
      <a href="/shop/desserts">desserts</a>
    </li>
    <li>
      <a href="/shop/beverages">beverages</a>
    </li>
  </ul>
</nav>
<% } else { %>
<nav class="navbar-container">
  <ul class="navbar">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/shop">Shop</a>
    </li>
    <li>
      <a href="/">
        <img src="/images/logo/logo.svg" alt="logo" width="120" />
      </a>
    </li>
    <li>
      <a href="/locations">Locations</a>
    </li>
    <li>
      <a href="/cart">Cart</a>
    </li>
  </ul>
</nav>
<nav class="navbar-top-mobile">
  <a href="/">
    <img src="/images/logo/logo.svg" alt="logo" width="80" />
  </a>
</nav>
<% } %>
