<% if (locals.pageType === "shop" || locals.pageType === "category" ) { %>
<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/shop/salads">Salads</a>
    </li>
    <li>
      <a href="/shop/soups">Soups</a>
    </li>
    <li>
      <a href="/shop/desserts">Desserts</a>
    </li>
    <li>
      <a href="/shop/beverages">Beverages</a>
    </li>
  </ul>
</nav>
<% } else { %>
<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/shop">Shop</a>
    </li>
    <li>
      <a href="/merchandise">Merchandise</a>
    </li>
    <li>
      <a href="/locations">Locations</a>
    </li>
    <li>
      <a href="/cart">Cart</a>
    </li>
  </ul>
</nav>
<% } %>
