<nav class="navbar-mobile bottom-container">
  <ul class="navbar-mobile-bottom">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/shop">Shop</a>
    </li>
    <li>
      <a href="/locations">Locations</a>
    </li>
    <li>
      <a href="/cart">Cart</a>
    </li>
  </ul>
</nav>
