.cart-container {
  min-height: 100vh;
}

.cart-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 2rem 0;
}

.cart-status {
  text-align: center;
  padding: 2rem 0;
  color: var(--text-color-third);
}
