.view-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 80%;
  padding: 12px;
}

.item-container {
  flex: 0 25%;
  padding: 12px;
}

.view-container.product {
  justify-content: center;
}

.item-container.product{
  flex: 0 50%;
}

.image-frame {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-item);
  border-radius: 12px;
}

.image-product {
  width: 90%;
}

.text-name {
  font-weight: 500;
  color: var(--text-color-primary);
}

.text-category {
  font-weight: 500;
  text-transform: uppercase;
  color: var(--text-color-secondary);
}

.text-price {
  font-weight: 500;
  color: var(--text-color-secondary);
}
