.view-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 80%;
  padding: 12px;
}

.view-container.home {
  width: 90%;
}

.item-container {
  width: 100%;
  flex: 0 25%;
  padding: 12px;
}

.item-container.home {
  flex: 0 20%;
}

.item-frame {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-item);
  border-radius: 12px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.item-image-product {
  width: 80%;
}

.text-name {
  font-weight: 500;
  color: var(--text-color-primary);
  font-size: clamp(12px, 2vw, 16px);
  line-height: 1.2;
}

.text-category {
  font-weight: 300;
  font-size: clamp(12px, 2vw, 16px);
  text-transform: uppercase;
  color: var(--text-color-third);
}

.text-price {
  font-weight: 500;
  color: var(--text-color-third);
}

.icon {
  position: absolute;
  transition: transform 0.2s ease-in-out;
  border-radius: 50%;
}

.icon.plus {
  bottom: 8px;
  right: 8px;
}

.icon:hover {
  background-color: rgb(207, 207, 204);
}

/* product page */
.view-container.product {
  width: 90%;
  justify-content: center;
}

.item-container.product {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 2rem 0;
}

.image-frame {
  flex: 1;
}

.item-detail {
  flex: 1;
}

.image-frame,
.item-detail {
  padding: 2rem 0;
}

.text-name-product {
  font-weight: 600;
  line-height: 1.1;
  padding: 1rem 0;
}

.text-description {
  font-weight: 300;
  padding: 12px 0;
  font-size: clamp(12px, 2vw, 1.5em);
}

.item-image-product.product {
  width: 90%;
}

.label-container {
  display: flex;
  gap: 12px;
  padding: 1rem 0;
  flex-wrap: wrap;
}

.label {
  border: solid 1px var(--bg-item);
  border-radius: 24px;
  padding: 4px 12px;
  background-color: #ade8f4;
  font-size: clamp(12px, 2vw, 1.3em);
}

/* buttons */
.back-button {
  font-size: 1.5rem;
}

/* badges */
.badge-container {
  position: absolute;
  transition: transform 0.2s ease-in-out;
  top: 8px;
  left: 8px;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.badge {
  text-transform: uppercase;
  color: var(--text-color-primary);
  border: solid 1px var(--bg-item);
  border-radius: 24px;
  padding: 4px 12px;
  background-color: #ffffff;
}

.badge.new {
  background-color: var(--bg-badge);
}

/* accordion */
details {
  border-radius: 5px;
  border-bottom: 2px solid var(--bg-item);
  margin-bottom: 10px;
  padding: 1rem 0;
  cursor: pointer;
  font-size: clamp(12px, 2vw, 1.3em);
  list-style: none;
}

details p {
  font-weight: 300;
  padding: 8px 0;
}

summary {
  cursor: pointer;
  list-style: none;
  font-weight: 500;
}
