@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --bg-main: #221f20;
  --bg-item: #f6f2e9;
  --text-color-primary: #221f20;
  --text-color-secondary: #a89a8c;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}
