.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 150px;
  width: 100%;
  background-color: var(--bg-main);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: clamp(12px, 2vw, 1em);
  font-weight: 500;
  width: 90%;
}

.navbar img {
  max-width: 150px;
}

.navbar a {
  color: var(--text-color-secondary);
}

.navbar a:hover {
  color: var(--bg-badge);
}

.navbar-top-mobile {
  text-align: center;
  background-color: var(--bg-main);
  display: none;
  width: 100%;
}

.navbar-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  min-height: 50px;
}

@media (max-width: 768px) {
  .navbar.shop {
    display: block;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .navbar-container {
    display: none;
  }

  .navbar-top-mobile {
    display: block;
  }
}
