.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  background-color: var(--bg-main);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
  width: 90%;
}

.navbar a {
  color: var(--text-color-secondary);
}

.navbar-top-mobile {
  text-align: center;
  background-color: var(--bg-main);
  display: none;
  width: 100%;
}

@media (max-width: 768px) {
}

@media (max-width: 375px) {
  .navbar-container {
    display: none;
  }

  .navbar-top-mobile {
    display: block;
  }
}
