.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  background-color: var(--bg-main);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
  width: 80%;
}

.navbar a {
  color: var(--text-color-secondary);
}
